<h1> <%= @artist.name %> List of Songs </h1>
<h2> Song Count: <%=@artist.song_count %> </h2>
<ul>
    <% @artist.songs.each do |song| %>
        <li><%= link_to song.title, song_path(song)%></li>
    <% end %>
</ul>